body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

#start-game {
  font-family: source-code-pro, 'Menlo';
  background: none;
  color: inherit;
  margin-top: 1rem;
  font-size: 1.2rem;
  border: 1px solid white;
  padding: 0.5rem 1rem;
}
#start-game:hover {
  cursor: pointer;
}
